<div class="container">
  <div class="menu">
    <app-menudueno> </app-menudueno>
  </div>

  <div class="contenido" >
    <header style="margin-bottom: 30px;">
      <div class="cajontitulo">
        <h1 class="titulo">Bienvenido</h1>
      </div>
      <div class="perfil">
        <h1 clas class="titulo">Hola, <span id="username"> {{ usuarioParseado?.nombre }}</span></h1>
        <h1 id="perfil" class="titulo">{{ usuarioParseado?.perfil }}</h1>
      </div>
    </header>

    <div *ngFor="let servicio of servicios" class="card">
      <img [src]="servicio.imagen" alt="Imagen del servicio" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ servicio.servicio }}</h5>
        <p class="card-text">Propietario: {{ servicio.nombrePropietario }}</p>
        <p class="card-text">Email: {{ servicio.email }}</p>
        <p class="card-text">Teléfono: {{ servicio.telefono }}</p>
        <p class="card-text">Tipo de Mascota: {{ servicio.tipoMascota }}</p>
        <p class="card-text">Información Adicional: {{ servicio.infoAdicional }}</p>
        <p class="card-text">Precio: {{ servicio.precio }}</p>
        <button class="btn btn-primary">Contratar Servicio</button>
      </div>
    </div>



  </div>
</div>
