<div class="opciones">

  <ul class="lista-Opciones">

    <li routerLink="/home-dueno">
      <img src="../../assets/pagina-de-inicio.png" alt="logo" class="logo" />
      <p> Inicio </p>
    </li>

    <li routerLink="" >
      <img src="../../assets/portapapeles.png" alt="logo" class="logo" />
      <p> Agregar Servicio </p>
    </li>

    <li routerLink="">
      <img src="../../assets/inventario.png" alt="logo" class="logo" />
      <p> Inventario </p>
    </li>

    <li routerLink="">
      <img src="../../assets/cita.png" alt="logo" class="logo" />
      <p> Citas </p>
    </li>

    <li routerLink="">
      <img src="../../assets/mascotas-permitidas.png" alt="logo" class="logo" />
      <p> Consultar Mascotas </p>
    </li>

    <li (click)="logout()">
      <img src="../../assets/apagar.png" alt="logo" class="logo" />
      <p>Cerrar Sesion</p>
    </li>

  </ul>
</div>
